/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap"; 
 


 body {
     margin-top: 80px;
     background-image: url(bookshelf.jpg);
     
 }
 nav {
    z-index: 10;
    position: fixed;
    top: 50px;
    left: 0;
    width: 100vw;
    background-color: rgb(145, 0, 0);
    display: flex;
    justify-content: space-around;
    font-family: 'Kaushan Script', cursive;
}
 
nav a {

    z-index: 10;
    color: white;
    text-decoration: none;
    padding: 5px;
    border-top: solid white 2px;
    border-left: solid white 2px;
    border-right: solid white 2px;
    transition: transform 1s;
    width: 20em;
    text-align: center;
 
   }

.box {    
    font-family: 'Kaushan Script', cursive;
    
    .logo{
        font-family: 'Kaushan Script', cursive;
        z-index: 10;
        position: fixed;   
        top: 0px;
        bottom: 700px;
        left: 0;
        right: 0;
        width: 100vw;
        background-color: rgb(145, 0, 0);
        display: flex;
        border-left: solid white 2px;
        border-right: solid white 2px;
        font-family: sans-serif;
        opacity: 0.8;
      
        }

    .login{
        
        font-family: 'Kaushan Script', cursive;
        z-index: 10;
        display: flex;
        position: relative;
        justify-content: center;
        position: fixed;
        top: 0;
        right: 30px;
    }
    .login a {
        color: white
    }
}

.centering {
    font-family: 'Kaushan Script', cursive;
    margin: 0 auto;
    width: 50%; 
}

.centering a {
    color: white;
    padding: 8px;
    display: flex;
    justify-content: center;
}

.card{
    font-family: 'Kaushan Script', cursive;


    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.55;
    display: flex;
    justify-content: center;
    margin: 5px ;
    margin-bottom: 25px;
    height: 350px;
    width: 300px;
    padding-top: 0px;
    text-align: left;
}

.card a {
    color: red;
    font-size: 1.2em;
}
.card-container {
    font-family: 'Kaushan Script', cursive;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}

.show {
    color: white;
    font-family: 'Kaushan Script', cursive;
    font-size: 1.3em;
    
}

.show a {
    color: white;
    font-family: 'Kaushan Script', cursive;
    font-size: 0.9em;
}

.label-style {
    color: white !important;

}

.label-class {
    color: white;
    padding: 8px;
    display: flex;
    justify-content: center;

}